APP_NAME=CoronaClusters
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Asia/Kolkata

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

TELESCOPE_ENABLED=true
TELESCOPE_DOMAIN=karma
TELESCOPE_PATH=assistant
TELESCOPE_DRIVER=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_CDN_BUCKET=

ASSET_URL=

USE_CDN=false
CDN_URL=
MIX_ASSET_URL=${CDN_URL}

GOOGLE_API_KEY=""

COVID_THEME=default
COVID_LOCALES="en,hi"
COVID_ADVISORY_COUNT="2"

LARAVEL_PAGE_SPEED_ENABLE=true
